.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  width: 250px;
  height: 250px;
  border: 2px solid #000;
  margin: 25px;
  font-size: 45px;
  text-align: center;
}

.c-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}

.c-pagination ul {
  list-style: none;
  display: flex;
}

.c-pagination ul li {
  border: 1px solid;
  margin: 15px;
  padding: 15px;
  font-size: 25px;
  cursor: pointer;
}

.c-pagination ul li.active {
  background-color: red;
  color: white;
}

.pagination ul li {
  margin: 25px;
}

.c-pagination__nav {
  display: flex;
  justify-content: center;
}

.c-pagination__nav > div {
  border: 1px solid #000;
  margin: 15px;
  padding: 15px;
  font-size: 25px;
  cursor: pointer;
}
